<section className="attorneys">
    <div className="section-container section-container_full w-container">
        <div className="attorneys__back"><img
                src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64491d0f15ea8a293199bf04_Mask%20group%20(2).webp"
                loading="lazy" sizes="(max-width: 1439px) 100vw, 1440px"
                srcset="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64491d0f15ea8a293199bf04_Mask%20group%20(2)-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64491d0f15ea8a293199bf04_Mask%20group%20(2)-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64491d0f15ea8a293199bf04_Mask%20group%20(2)-p-1080.webp 1080w, https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64491d0f15ea8a293199bf04_Mask%20group%20(2).webp 1440w"
                alt="Jacob D. Fuchsberg " className="picture-item picture-item_attorney">
            <div className="attorneys__overlay"></div>
        </div>
        <div className="attorneys__content">
            <div className="attorneys__content-overlay"></div>
            <div className="attorneys__block">
                <h2 className="section-title section-title_522">Jacob D. Fuchsberg Law Firm Team</h2>
            </div>
            <div className="attorneys__mobile-photo"><img
                    src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64492cfc0c7aed036a402e98_main.webp"
                    loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 375px, 100vw"
                    srcset="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64492cfc0c7aed036a402e98_main-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/64492cfc0c7aed036a402e98_main.webp 644w"
                    alt="Jacob D. Fuchsberg" className="picture-item picture-item_attorneys"></div>
            <p className="upper-text upper-text_bottom">Managing Partner</p>
            <h3 className="card-title">Alan Fuchsberg</h3>
            <p className="attorneys__info">Alan Fuchsberg is a skilled New York personal injury lawyer who is part of a
                family of esteemed judges and attorneys and a son of the founding partner of the legal firm. Alan is a
                nationally recognized lawyer who collaborates on the firm’s mass tort and className-action lawsuits and
                advocates for individual plaintiffs.</p>
            <div className="section-link__container"><a href="/attorneys/alan-l-fuchsberg"
                    className="section-link w-inline-block local"><img
                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                    <p className="section-link__text">About Alan Fuchsberg</p><img
                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                </a></div>
        </div>
        <div data-w-id="c00903e3-9cc2-c76e-aec5-e7476749a38d" className="attorneys__table" style="">
            <div className="attorneys__wrap">
                <div className="attorneys__buttons">
                    <div className="style w-embed">
                        <style>
                            .attorneys__icon svg {
                                height: 16px;
                                width: 16px;
                            }

                            .attornyes__btn:hover svg path {
                                fill: #2461e2;
                            }

                            .attornyes__btn.swiper-button-disabled {
                                opacity: .4;
                            }

                            .attornyes__btn.swiper-button-disabled:hover {
                                border: none;
                                background-color: var(--blue);
                            }

                            .attornyes__btn.swiper-button-disabled:hover svg path {
                                fill: white;
                            }
                        </style>
                    </div><button className="attornyes__btn attornyes-btn-prev swiper-button-disabled" disabled=""
                        tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-72bd3497593ee511"
                        aria-disabled="true">
                        <div className="attorneys__icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" viewBox="0 0 16 16" fill="none">
                                <path
                                    d="M8 16L16 8L8 -6.99382e-07L6.575 1.4L12.175 7L-6.11959e-07 7L-7.86805e-07 9L12.175 9L6.575 14.6L8 16Z"
                                    fill="white"></path>
                            </svg></div>
                    </button><button className="attornyes__btn attornyes-btn-next" tabindex="0" aria-label="Next slide"
                        aria-controls="swiper-wrapper-72bd3497593ee511" aria-disabled="false">
                        <div className="attorneys__icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" viewBox="0 0 16 16" fill="none">
                                <path
                                    d="M8 16L16 8L8 -6.99382e-07L6.575 1.4L12.175 7L-6.11959e-07 7L-7.86805e-07 9L12.175 9L6.575 14.6L8 16Z"
                                    fill="white"></path>
                            </svg></div>
                    </button>
                </div>
                <div id="swiper-attorny"
                    className="attorneys__wrapper swiper attornyes-swiper w-dyn-list swiper-initialized swiper-horizontal swiper-android">
                    <div role="list" className="attorneys__list swiper-wrapper w-dyn-items"
                        id="swiper-wrapper-72bd3497593ee511" aria-live="polite"
                        style="transform: translate3d(0px, 0px, 0px);">
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item swiper-slide-active"
                            aria-label="1 / 8" style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb735d2b69e7d29405adf_c_Eli.webp"
                                        loading="lazy" alt="Eli Fuchsberg" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb735d2b69e7d29405adf_c_Eli-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb735d2b69e7d29405adf_c_Eli-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb735d2b69e7d29405adf_c_Eli.webp 1024w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a href="/attorneys/eli-fuchsberg"
                                    className="w-inline-block local">
                                    <h3 className="card-title">Eli Fuchsberg</h3>
                                </a>
                                <div className="rich-text-block w-condition-invisible w-dyn-bind-empty w-richtext"></div>
                                <p className="attorneys__info">Eli Fuchsberg is a formidable trial lawyer and negotiator who
                                    represents plaintiffs across New York, New Jersey and in federal courts nationwide.
                                    He is skilled at obtaining substantial recoveries for clients while avoiding the
                                    uncertainty of trial when possible through savvy negotiation.</p><a
                                    href="/attorneys/eli-fuchsberg"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Eli Fuchsberg</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item swiper-slide-next"
                            aria-label="2 / 8" style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb62b155e9a0502907181_Bradley%20Zimmerman.webp"
                                        loading="lazy" alt="Bradley Zimmerman" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb62b155e9a0502907181_Bradley%20Zimmerman-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb62b155e9a0502907181_Bradley%20Zimmerman.webp 700w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Managing Partner</p><a
                                    href="/attorneys/bradley-s-zimmerman" className="w-inline-block local">
                                    <h3 className="card-title">Bradley Zimmerman</h3>
                                </a>
                                <div className="rich-text-block w-condition-invisible w-dyn-bind-empty w-richtext"></div>
                                <p className="attorneys__info">Bradley Zimmerman is the Managing Partner at the Jacob
                                    Fuchsberg Law Firm in New York. He has extensive experience in medical malpractice
                                    cases, including failures to diagnose or prevent heart attacks, strokes,
                                    amputations, and vision loss.</p><a href="/attorneys/bradley-s-zimmerman"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Bradley Zimmerman</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="3 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb8c24f83460397d21206_94c_EDITED%20BACKGROUNDS.webp"
                                        loading="lazy" alt="Joseph Lanni" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb8c24f83460397d21206_94c_EDITED%20BACKGROUNDS-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb8c24f83460397d21206_94c_EDITED%20BACKGROUNDS-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb8c24f83460397d21206_94c_EDITED%20BACKGROUNDS-p-1080.webp 1080w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb8c24f83460397d21206_94c_EDITED%20BACKGROUNDS.webp 1536w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a href="/attorneys/joseph-lanni"
                                    className="w-inline-block local">
                                    <h3 className="card-title">Joseph Lanni</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Joseph Lanni has secured over a million dollars in recoveries for numerous
                                        clients. For over 38 years, he has represented plaintiffs in complex tort cases
                                        involving medical malpractice, product liability, construction accidents,
                                        vehicle accidents, premises liability, civil rights, defamation, and fraud.
                                        Forbes named Joe to its list of the “<a
                                            href="https://www.forbes.com/advisor/legal/personal-injury/best-personal-injury-lawyers-nyc/#joseph_lanni_section"
                                            target="_blank" rel="nofollow noopener noreferrer">Best Personal Injury
                                            Lawyers NYC</a>” in 2022, 2023 and 2024.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/joseph-lanni"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Joseph Lanni</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="4 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/63ce5a9ce36f466ffb6796ec_Nyberg.webp"
                                        loading="lazy" alt="Christopher Nyberg" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/63ce5a9ce36f466ffb6796ec_Nyberg-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/63ce5a9ce36f466ffb6796ec_Nyberg.webp 768w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a
                                    href="/attorneys/christopher-m-nyberg" className="w-inline-block local">
                                    <h3 className="card-title">Christopher Nyberg</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Christopher M. Nyberg focuses on birth injuries, cancer misdiagnosis, and
                                        obstetrical malpractice cases. He has experience in appeals, motions, and trial,
                                        and is admitted in NY and NJ. Nyberg graduated summa cum laude from St. Joseph's
                                        University and magna cum laude from Boston University School of Law, where he
                                        was a Dean's Scholar and received the Peter Bennett Award.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/christopher-m-nyberg"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Christopher Nyberg</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="5 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb9d9155e9a050293b84a_ad_Shannon.webp"
                                        loading="lazy" alt="Shannon Montgomery" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb9d9155e9a050293b84a_ad_Shannon-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb9d9155e9a050293b84a_ad_Shannon-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb9d9155e9a050293b84a_ad_Shannon.webp 1024w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a
                                    href="/attorneys/shannon-a-montgomery" className="w-inline-block local">
                                    <h3 className="card-title">Shannon Montgomery</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Shannon A. Montgomery handles personal injury, medical malpractice, and 9/11
                                        Victim Compensation Fund claims. She manages a team representing victims harmed
                                        in the 9/11 attacks and debris removal, recovering millions in compensation. She
                                        also handles probate and wrongful death matters.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/shannon-a-montgomery"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Shannon Montgomery</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="6 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb901fc8917fbb7330aa8_11_Neal.webp"
                                        loading="lazy" alt="Neal Bhushan" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb901fc8917fbb7330aa8_11_Neal-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb901fc8917fbb7330aa8_11_Neal.webp 768w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a href="/attorneys/neal-bhushan"
                                    className="w-inline-block local">
                                    <h3 className="card-title">Neal Bhushan</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Neal Bhushan specializes in medical malpractice, personal injury, commercial, and
                                        9/11 WTC claims litigation. Hired as an associate in 2014, he was promoted to
                                        partner in 2021 due to his litigation success, strong work ethic, and
                                        business-minded approach.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/neal-bhushan"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Neal Bhushan</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="7 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afba0f623839070719e904_79_Walter.webp"
                                        loading="lazy" alt="Walter Osuna" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afba0f623839070719e904_79_Walter-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afba0f623839070719e904_79_Walter-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afba0f623839070719e904_79_Walter.webp 1024w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a href="/attorneys/walter-osuna"
                                    className="w-inline-block local">
                                    <h3 className="card-title">Walter Osuna</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Walter Osuna handles personal injury, nursing home, and medical malpractice
                                        cases. He has experience in appeals, motions, and legal counseling, and is
                                        admitted in NY and NJ. He earned a BA from SDSU and JD from Fordham, where he
                                        was involved in law review, fellowships, and public service.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/walter-osuna"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Walter Osuna</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                        <div role="group" className="attorneys__item swiper-slide w-dyn-item" aria-label="8 / 8"
                            style="width: 600px; margin-right: 24px;">
                            <div className="attorneys__link">
                                <div className="attorneys__photo"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb81602055db1c0e2d73a_c35_Jae.webp"
                                        loading="lazy" alt="Jaehyun Oh" sizes="167.09375px"
                                        srcset="https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb81602055db1c0e2d73a_c35_Jae-p-500.webp 500w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb81602055db1c0e2d73a_c35_Jae-p-800.webp 800w, https://cdn.prod.website-files.com/63a4a6b4b160085eef18fffe/65afb81602055db1c0e2d73a_c35_Jae.webp 1024w"
                                        className="picture-item top"></div>
                                <p className="upper-text upper-text_bottom">Partner</p><a href="/attorneys/jaehyun-oh"
                                    className="w-inline-block local">
                                    <h3 className="card-title">Jaehyun Oh</h3>
                                </a>
                                <div className="rich-text-block w-richtext">
                                    <p>Harvard Law School graduate Jae focuses on medical malpractice and civil rights
                                        (prisoner rights, police brutality, employment discrimination). Recognized as a
                                        Rising Star in civil rights by Super Lawyers (2021-2022), Jae has a proven
                                        record and brings cultural understanding to complex cases.</p>
                                </div>
                                <p className="attorneys__info w-condition-invisible w-dyn-bind-empty"></p><a
                                    href="/attorneys/jaehyun-oh"
                                    className="section-link section-link_top w-inline-block local"><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-before">
                                    <p className="section-link__text">About Jaehyun Oh</p><img
                                        src="https://cdn.prod.website-files.com/63a4a6b4b1600866f3190000/6447de0caf01e102efd6c3b7_material-symbols_arrow-back%20(1).svg"
                                        loading="lazy" alt="Arrow icon" className="practice__list-after">
                                </a>
                            </div>
                        </div>
                    </div><span className="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span
                        className="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span
                        className="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
            <div className="attorneys__cta">
                <p className="attorneys__cta-text">“We are Champions of Individual Rights, True Advocates”</p><a
                    href="/attorneys" className="new-btn new-btn_white-transparent w-button local">See All Attorneys</a>
            </div>
        </div>
    </div>
    <div className="style w-embed">
        <style>
            .attorneys__content-overlay,
            .attorneys__overlay {
                background: linear-gradient(91.73deg, #F5F5F5 34.91%, rgba(227, 227, 227, 0) 72.33%);
            }

            @media screen and (min-width: 992px) {

                .section-link:hover .practice__list-before {
                    width: 20px;
                    padding-right: 8px;
                }

                .section-link:hover .practice__list-after {
                    width: 0;
                }

            }

            @media screen and (max-width: 991px) {
                .attorneys__cta {
                    width: calc(100% + 32px);
                    left: -16px;
                }
            }

            @media screen and (max-width: 479px) {
                .attorneys__mobile-photo {
                    width: calc(100% + 32px);
                    left: -16px;
                }
            }
        </style>
    </div>
</section>